[packages]
torch = ">=0.4.1"
numpy = "*"
matplotlib = "*"
ase = ">=3.19"
schnetpack = "*"
h5py = "*"
tqdm = "*"
tensorboardX = "*"
pytest = "*"
pytest-datadir = "*"
pre-commit = "*"
black = "*"
PyYAML = "*"

[dev-packages]
pytest = "*"
pytest-datadir = "*"
pytest-console-scripts = "*"
sacred = "*"
pre-commit = "*"
black = "*"
